{% extends "base.html" %}
{% load static %}
{% block title %} <title>Charts</title> {% endblock %}
{% block content %}


<!-- bar chart start -->
<div class="row">
    <div class="col-lg mt-5">
        <div class="card">
            <div class="card-body">
                <div id="ambarchart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card">
            <div class="card-body">
                <div id="ambarchart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card">
            <div class="card-body">
                <div id="ambarchart3"></div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-6 mt-5">
        <div class="card">
            <div class="card-body">
                <div id="ambarchart4"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card">
            <div class="card-body">
                <div id="ambarchart5"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-5">
        <div class="card">
            <div class="card-body">
                <div id="ambarchart6"></div>
            </div>
        </div>
    </div> -->
</div>
<!-- bar chart end -->


{% endblock content %}