{% extends "base.html" %}
{% load static %}
{% block title %} <title>Brands</title> {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="login-area login-s1">
    <div class="container">
        <div class="login-box ptb--100">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="login-form-head">
                    <h4>Are you sure you want to delete this brand:<br>"{{ object }}"?</h4>
                </div>
                    <div>
                        <br>
                        <button class="btn btn-danger btn-lg btn-block" type="submit">Delete</button>
                        <a class="btn btn-info btn-lg btn-block" href="{{ view.success_url}}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}