{% extends "base.html" %}
{% load static %}
{% block title %} <title>Dashboard</title> {% endblock %}
{%block scripts%}
<script>
    /*--------------  prod1chart bar chart start ------------*/
    if ($('#prod1chart').length) {
        var ctx = document.getElementById("prod1chart").getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',
            // The data for our dataset
            data: {
                labels: [{%for data in products_by_category %}'{{data.category__parent__name}}',{% endfor %}],
    datasets: [{
        label: "Total Price",
        data: [{%for data in products_by_category %}'{{ data.price_count }}', {% endfor %}],
        backgroundColor: [
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#3a3afb',
            '#8416fe'
        ]
                }]
            },
    // Configuration options go here
    options: {
        legend: {
            display: false
        },
        animation: {
            easing: "easeInOutBack"
        },
        scales: {
            yAxes: [{
                display: 1,
                ticks: {
                    fontColor: "#cccccc",
                    beginAtZero: !0,
                    padding: 0
                },
                gridLines: {
                    zeroLineColor: "transparent"
                }
            }],
                xAxes: [{
                    display: 1,
                    gridLines: {
                        zeroLineColor: "transparent",
                        display: !1
                    },
                    ticks: {
                        beginAtZero: !0,
                        padding: 0,
                        fontColor: "#cccccc"
                    }
                }]
        }
    }
        });
    }

    /*--------------  prod1chart bar chart End ------------*/
    /*--------------  prod2chart bar chart start ------------*/
    if ($('#prod2chart').length) {
        var ctx = document.getElementById("prod2chart").getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',
            // The data for our dataset
            data: {
                labels: [{%for data in products_by_category %}'{{data.category__parent__name}}',{% endfor %}],
    datasets: [{
        label: "Count",
        data: [{%for data in products_by_category %}'{{ data.prod_count }}', {% endfor %}],
        backgroundColor: [
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#3a3afb',
            '#8416fe'
        ]
                }]
            },
    // Configuration options go here
    options: {
        legend: {
            display: false
        },
        animation: {
            easing: "easeInOutBack"
        },
        scales: {
            yAxes: [{
                display: 1,
                ticks: {
                    fontColor: "#cccccc",
                    beginAtZero: !0,
                    padding: 0
                },
                gridLines: {
                    zeroLineColor: "transparent"
                }
            }],
                xAxes: [{
                    display: 1,
                    gridLines: {
                        zeroLineColor: "transparent",
                        display: !1
                    },
                    ticks: {
                        beginAtZero: !0,
                        padding: 0,
                        fontColor: "#cccccc"
                    }
                }]
        }
    }
        });
    }

    /*--------------  prod3chart bar chart start ------------*/
    if ($('#prod3chart').length) {
        var ctx = document.getElementById("prod3chart").getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',
            // The data for our dataset
            data: {
                labels: [{%for data in products_by_brand %}'{{data.brand__brand_name}}',{% endfor %}],
    datasets: [{
        label: "Total Price",
        data: [{%for data in products_by_brand %}'{{ data.price_count }}', {% endfor %}],
        backgroundColor: [
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#3a3afb',
            '#8416fe'
        ]
                }]
            },
    // Configuration options go here
    options: {
        legend: {
            display: false
        },
        animation: {
            easing: "easeInOutBack"
        },
        scales: {
            yAxes: [{
                display: 1,
                ticks: {
                    fontColor: "#cccccc",
                    beginAtZero: !0,
                    padding: 0
                },
                gridLines: {
                    zeroLineColor: "transparent"
                }
            }],
                xAxes: [{
                    display: 1,
                    gridLines: {
                        zeroLineColor: "transparent",
                        display: !1
                    },
                    ticks: {
                        beginAtZero: !0,
                        padding: 0,
                        fontColor: "#cccccc"
                    }
                }]
        }
    }
        });
    }

    /*--------------  prod3chart bar chart End ------------*/
    /*--------------  prod4chart bar chart start ------------*/
    if ($('#prod4chart').length) {
        var ctx = document.getElementById("prod4chart").getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',
            // The data for our dataset
            data: {
                labels: [{%for data in products_by_brand %}'{{data.brand__brand_name}}',{% endfor %}],
    datasets: [{
        label: "Count",
        data: [{%for data in products_by_brand %}'{{ data.brand_count }}', {% endfor %}],
        backgroundColor: [
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#8416fe',
            '#3a3afb',
            '#3a3afb',
            '#8416fe'
        ]
                }]
            },
    // Configuration options go here
    options: {
        legend: {
            display: false
        },
        animation: {
            easing: "easeInOutBack"
        },
        scales: {
            yAxes: [{
                display: 1,
                ticks: {
                    fontColor: "#cccccc",
                    beginAtZero: !0,
                    padding: 0
                },
                gridLines: {
                    zeroLineColor: "transparent"
                }
            }],
                xAxes: [{
                    display: 1,
                    gridLines: {
                        zeroLineColor: "transparent",
                        display: !1
                    },
                    ticks: {
                        beginAtZero: !0,
                        padding: 0,
                        fontColor: "#cccccc"
                    }
                }]
        }
    }
        });
    }

    /*--------------  prod4chart bar chart End ------------*/
</script>
{%endblock scripts%}
{% block content %}
<div class="main-content-inner">
    <!-- sales report area start -->
    <div class="sales-report-area sales-style-two">
        <div class="row">
            <div class="col-xl-6 mt-5">
                <div class="single-report">
                    <div class="s-sale-inner pt--30">
                        <div class="s-report-title d-flex justify-content-between">
                            <h4 class="header-title mb-0">Sum of Product Prices By Category</h4>
                        </div>
                    </div>
                    <canvas id="prod1chart" height="150"></canvas>
                </div>
            </div>
            <div class="col-xl-6 mt-5">
                <div class="single-report">
                    <div class="s-sale-inner pt--30">
                        <div class="s-report-title d-flex justify-content-between">
                            <h4 class="header-title mb-0">Count of Products By Category</h4>
                        </div>
                    </div>
                    <canvas id="prod2chart" height="150"></canvas>
                </div>
            </div>
            <div class="col-xl-6 mt-5">
                <div class="single-report">
                    <div class="s-sale-inner pt--30">
                        <div class="s-report-title d-flex justify-content-between">
                            <h4 class="header-title mb-0">Sum of Product Prices By Brand</h4>
                        </div>
                    </div>
                    <canvas id="prod3chart" height="150"></canvas>
                </div>
            </div>
            <div class="col-xl-6 mt-5">
                <div class="single-report">
                    <div class="s-sale-inner pt--30">
                        <div class="s-report-title d-flex justify-content-between">
                            <h4 class="header-title mb-0">Count of Products By Brand</h4>
                        </div>
                    </div>
                    <canvas id="prod4chart" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- sales report area end -->
    <!-- visitor graph area start -->
    <div class="card mt-5">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-5">
                <h4 class="header-title mb-0">Visitor Graph</h4>
            </div>
            <div id="visitor_graph"></div>
        </div>
    </div>
    <!-- visitor graph area end -->
    <!-- order list area start -->
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="header-title">Todays Order List</h4>
            <div class="table-responsive">
                <table class="dbkit-table">
                    <tbody>
                        <tr class="heading-td">
                            <td>Product Name</td>
                            <td>Product Code</td>
                            <td>Order Status</td>
                            <td>Client Number</td>
                            <td>Zip Code</td>
                            <td>View Order</td>
                        </tr>
                        <tr>
                            <td>Ladis Sunglass</td>
                            <td>#894750374</td>
                            <td><span class="pending_dot">Pending</span></td>
                            <td>01976 74 92 00</td>
                            <td>9241</td>
                            <td>View Order</td>
                        </tr>
                        <tr>
                            <td>Ladis Sunglass</td>
                            <td>#894750374</td>
                            <td><span class="shipment_dot">Shipment</span></td>
                            <td>01976 74 92 00</td>
                            <td>9241</td>
                            <td>View Order</td>
                        </tr>
                        <tr>
                            <td>Ladis Sunglass</td>
                            <td>#894750374</td>
                            <td><span class="pending_dot">Pending</span></td>
                            <td>01976 74 92 00</td>
                            <td>9241</td>
                            <td>View Order</td>
                        </tr>
                        <tr>
                            <td>Ladis Sunglass</td>
                            <td>#894750374</td>
                            <td><span class="confirmed _dot">Confirmed </span></td>
                            <td>01976 74 92 00</td>
                            <td>9241</td>
                            <td>View Order</td>
                        </tr>
                        <tr>
                            <td>Ladis Sunglass</td>
                            <td>#894750374</td>
                            <td><span class="pending_dot">Pending</span></td>
                            <td>01976 74 92 00</td>
                            <td>9241</td>
                            <td>View Order</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination_area pull-right mt-5">
                <ul>
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- order list area end -->
    <div class="row">
        <!-- product sold area start -->
        <div class="col-xl-8 col-lg-7 col-md-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-4">
                        <h4 class="header-title mb-0">Product Slod</h4>
                        <select class="custome-select border-0 pr-3">
                            <option selected="">Today</option>
                            <option value="0">Last 7 Days</option>
                        </select>
                    </div>
                    <div class="table-responsive">
                        <table class="dbkit-table">
                            <tbody>
                                <tr class="heading-td">
                                    <td>Product Name</td>
                                    <td>Revenue</td>
                                    <td>Sold</td>
                                    <td>Discount</td>
                                </tr>
                                <tr>
                                    <td>Ladis Sunglass</td>
                                    <td>$56</td>
                                    <td>$160</td>
                                    <td>$20</td>
                                </tr>
                                <tr>
                                    <td>Ladis Sunglass</td>
                                    <td>$26</td>
                                    <td>$500</td>
                                    <td>$20</td>
                                </tr>
                                <tr>
                                    <td>Ladis Sunglass</td>
                                    <td>$26</td>
                                    <td>$500</td>
                                    <td>$20</td>
                                </tr>
                                <tr>
                                    <td>Ladis Sunglass</td>
                                    <td>$56</td>
                                    <td>$250</td>
                                    <td>$10</td>
                                </tr>
                                <tr>
                                    <td>Ladis Sunglass</td>
                                    <td>$56</td>
                                    <td>$125</td>
                                    <td>$50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination_area pull-right mt-5">
                        <ul>
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product sold area end -->
    </div>
</div>
<!-- page container area end -->
{% endblock content %}