{% extends "base.html" %}
{% load static %}
{% block title %} <title>Products</title> {% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<div class="main-content-inner">
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">All Products</h4>
                    <a id='contact-view' data-toggle="modal" data-target="#contactModal">
                        <button type="button" class="btn btn-rounded btn-success mb-3">Add Product</button>
                    </a>

                    <!-- ADD - The Modal START -->
                    <div class="modal" id="contactModal">
                        <form method="POST" id="contact-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" >
                                        <h4 class="modal-title">Add A New Product</h4>
                                    </div>
                                    <div class="modal-body">
                                        {% for field in form %}
                                            {{ field | as_crispy_field }}
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-success">Add Product</button>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- ADD - The Modal FINISH -->
                    <div class="data-tables">
                        <table id="dataTable" class="text-center">
                            <thead class="bg-light text-capitalize">
                                <tr>
                                    <th>Id</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Store</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                                    <th class="none">Color</th>
                                    <th class="none">Size</th>
                                    <th class="none">Description</th>
                                    <th class="none">Created By</th>
                                    <th class="none">Modified By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in object_list %}
                                <tr>
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.product_name }}</td>
                                    <td>{{ product.price }} RON</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.store }}</td>
                                    {% if product.category.parent %}
                                        <td>{{ product.category.parent }}</td>
                                    {% else %}
                                        <td>{{ product.category }}</td>
                                    {% endif %}
                                    <td>{{ product.brand }}</td>
                                    <td>{{ product.created_at | date:"d/m/Y" }} {{ product.created_at | time:"H:i:s" }}</td>
                                    <td>{{ product.updated_at | date:"d/m/Y" }} {{ product.updated_at | time:"H:i:s" }}</td>
                                    <td>
                                        <a href="{% url 'editProd' product.id %}">
                                            <button type="button" class="btn btn-rounded btn-info btn-sm btn-block">Edit Product</button>
                                        </a>
                                        <a href="{% url 'removeProd' product.id %}">
                                            <button type="button" class="btn btn-rounded btn-danger btn-sm btn-block">Remove Product</button>
                                        </a>
                                    </td>
                                    {% if product.color %}
                                        <td>{{ product.color }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    {% if product.size %}
                                        <td>{{ product.size }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.created_by }}</td>
                                    <td>{{ product.modified_by }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- data table end -->
    </div>
</div>

{% endblock content %}